<%- include('../partials/head'); -%>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                <span class="word1">Empire</span>
                <span class="word2">Furniture</span>
            </div>
        </div>

        <div class="form-container">
            <div class="slide-controls">
              
              <h2 class="slide login-heading" style="font-size: 22px; color: #01632a; margin-right: 10px;font-weight: bold; margin-right: 10px;    margin-bottom: 10px;text-transform: uppercase;letter-spacing: 2px;">Forgot password</h2>
            </div>
            </div>
            <div class="form-inner">
                <form action="/forgotpassword" method="post">
                <div class="field">
                  <input type="text" name="email" placeholder="Email" required>
                </div>
                
                <div class="field btn">
                  <div class="btn-layer" style="margin-top: -6px;" ></div>
                  <input type="submit" value="Submit">
                </div>
              </form>
            
            </div>

        <% 
        if(typeof message !== 'undefined'){ 
            %>
                <p style="color:red;margin-left: 45px;"><%= message%> </p>
            <%
        }
      %>
      </div>
      
      <%- include( '../partials/footer') %>