<%- include('../partials/head'); -%>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                <span class="word1">Empire</span>
                <span class="word2">Furniture</span>
            </div>
        </div>

   

        
        <div class="form-container">
            <div class="slide-controls">
              
              <h2 class="slide login-heading" style="font-size: 22px; color: #01632a; margin-right: 10px;font-weight: bold; margin-right: 10px;    margin-bottom: 10px;text-transform: uppercase;letter-spacing: 2px;">Reset Password</h2>
            </div>
            </div>

            <div class="form-inner">

                <form action="/resetpassword/<%= email %>" method="post" onsubmit="return validateResetPasswordForm()">
                  <div class="field">
                    <input type="text" id='otp' name="otp" placeholder="Enter your OTP" required>
                  </div>
                  <div class="field">
                    <input type="password" id='password' name="password" placeholder="New Password" required>
                  </div>
                  <div class="field">
                    <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required>
                </div>
                <div id="password_match_error" style="color: red; margin-left: 45px;"></div>
                
    
                  <div class="field btn">
                    <div class="btn-layer" style="margin-top: -6px;" ></div>
                    <input type="submit" value="Submit">
                  </div>
                
                </form>
                
              
              </div>

        
        <% 
        if(typeof message !== 'undefined'){ 
            %>
                <p style="color:red;margin-left: 45px;"><%= message%> </p>
            <%
        }
      %>
      </div>
      <script>
function validateResetPasswordForm() {
    const otp = document.getElementById('otp').value;
    const password = document.getElementById('password').value;
    const confirmpassword = document.getElementById('confirmpassword').value;
    const passwordMatchError = document.getElementById('password_match_error');

    const passwordRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{6,}$/;

    if (!passwordRegex.test(password)) {
        passwordMatchError.textContent = 'Password must be at least 6 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.';
        passwordMatchError.style.display = 'block';
        passwordMatchError.style.fontSize = '8px'; 
        return false;
    } else {
        passwordMatchError.style.display = 'none';
    }

    if (password !== confirmpassword) {
        passwordMatchError.textContent = 'Passwords do not match.';
        passwordMatchError.style.display = 'block';
        return false;
    } else {
        passwordMatchError.style.display = 'none';
    }

    return true;
}

      </script>
      
      <%- include( '../partials/footer') %>